@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../assets/Inter-roman-latin.var.woff2") format("woff2");
}
